__pycache__/
*.py[cod]
*$py.class

.eggs/
dist/
build/
develop-eggs/
parts/
wheels/
*.egg-info/
sdist/
*.whl
*.tar.gz
*.zip
*.egg

.env
venv/
ENV/
env/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*.junit.xml
report.txt
pylint.out
*.log

.idea/
.project
*.swp
*.swo
*.nvim
*.bak
*.tmp
*.vscode/

.DS_Store
Thumbs.db

# Crawler output json data files
*.json
